{
    "presets": [
      "@babel/env",
      "@babel/react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "module-alias", [
        { "src": "./app", "expose": "app" },
        { "src": "./app/resources/icon", "expose": "icon" }
        ]
    ]
 }
